@font-face {
  font-family: 'Gotham Medium';
  src: url('/font/Gotham\ Medium\ Regular.ttf');
}

@font-face {
  font-family: 'Gotham Book';
  src: url('/font/Gotham\ Book\ Regular.otf');
}
@font-face{
  font-family: 'Gotham Light';
  src: url('/font/GothamLightRegular.otf');
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { scroll-behavior: smooth; }

body{
  background-color: #faedcb;
}

ul{
  padding: 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 7rem;
}

ul li {
  list-style: none;
  margin: 0 0.625rem;
}

/* ---------------------------------------First Page-------------------------------------------- */

section {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;}

 .navbar{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0.5rem;
}

 .navbar #logo {
  height: 7rem;
  width: 8rem;
  background: url(/logos-red/logo_transparent.png)no-repeat center/cover;
}

 .navbar ul li a{
  position: relative;
  display: block;
  padding: 0.625rem 0.938rem;
  text-decoration: none;
  text-align: center;
  color: #AD382D;
  font-family: 'Gotham Light' ;
  font-weight: 600;
  font-size: 1.125rem;
}

.navbar ul li .current {
  color: #1C5FAD;
  font-weight: 700;
}

/* -----Navbar animation----- */

.navbar ul li a::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.125rem;
  background-color: #AD382D;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}

.navbar ul li a:hover::before{
  transform: scaleX(1);
}

.navbar ul li a::after{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0.125rem;
  background-color: #AD382D;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: right;
  transition: 0.5s;
}

.navbar ul li a:hover::after{
  transform: scaleX(1);
}

.navbar ul li a:hover{
  text-shadow: 0.031rem 0.031rem #FA5041;
}

.navbar ul li .current:hover{
  text-shadow: 0.031rem 0.031rem #288AFA;
}

/* .......................... */

.main {
  background-color: #D3F0E9;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 8;
  overflow: hidden;
  font-size: 7.5rem;
  text-align: center;
}


 h1{
  font-size: 3.75rem;
  line-height: 7.5rem;
  font-weight: 400;
  font-family: 'Gotham Medium';
  font: 'Gotham Medium';
  color: #75968F;  
}
 h3{
  font-size: 2.5rem;
  line-height: 4rem;
  font-weight: 400;
  font-family: 'Gotham Book';
  color: #967579;  
}

/* ......Main-Animation...... */

.main #content::before{
  content: 'David Yosef Sasson';
  text-align: center center;
  color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #c9e4de;
  border-radius: 100%;
  z-index: -1;
  transform: scale(5);
  transition: transform 0.5s ease-in-out;
  color: #75968F;
}

.main #content:hover::before{
  transform: scale(0);
  color: #75968F;
}

/* -------------Footer----------------- */

.footer {
  background-color: #c6def1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#home .footer .symbol_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 5rem;
  padding: 0px 1.25rem;
  background-color: white;
  border-radius: 35px ;
  }

#home .footer .symbol_box img {
  width: 4.375rem;
  height: 4.375rem;
}

#home .footer .symbol_box :hover{
  animation: shake 1s;  
}


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes shake2 {
  0% { transform: rotate(-45deg) translate(0px, 0px)} 
  50% { transform: rotate(-45deg) translate(3px, -3px) }
  100% { transform: rotate(-45deg) translate(0px, 0px)}
}


/* ----------------------Nav Key--------------------- */

  .main #content a span {
    position: absolute;
    top: 75%;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 2px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
  }

  .main #content a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);
    box-sizing: border-box;
    animation: shake2 1.5s infinite;
  }
  


/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* -----------------------ABOUT-------------------------- */

#about .main{
  display: grid;
  width: 100%;
  gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1.4fr 1.4fr 1fr;
  padding: 1rem 1rem;
}

.box{
  display: flex;
  position: relative;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.main #left{
  background-color: #A6D9CC;
  height: 100%;
}

.main #center{
  background-color: #A6D9CC;
  height: 100%;
}

.main #right{
  background: url(/img/c.jpg)no-repeat center center/cover;
  height: 100%;
}

/* ----------------Boxes animaition------------------ */

.main #left:hover, .main #center:hover{
  animation: shake 2s;
}

/* -----Front----- */

.box-button{
  background: none;
  border: none;
  cursor: pointer;
}

button:focus { outline: none; }

.main #center::before, .main #left::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #333;
  z-index: -1;
  transform: scalex(0);
  transform-origin:center;
  transition: transform 1s ease-in-out;
}

.main #center:hover::before, .main #left:hover::before{
  transform: scalex(1);
}

.main #center:hover > .box-button h3, .main #left:hover > .box-button h3{
  color: white;
}

.main #center, .main #left{
  z-index: 1;
  transition: all 1s ease-in-out;
}

.main #center .box-button > h3, .main #left .box-button > h3{
  z-index: 1;
  transition: all 1s ease-in-out;
}


/* nav-bar */
#about .footer {
  position: relative;
}


.bottom_nav span {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 2px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}

 .bottom_nav span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg);
  box-sizing: border-box;
  animation: shake2 1s infinite;
}
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* -----------------------Project-------------------------- */




/* -----------Media--------------*/

@media(max-width: 550px) {
  .main #content::before{
    content: '';
    color: #75968F;
  }

  h1{
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 200;
  }

  h3{
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 200;
  }

  .navbar ul{
    height: 2rem;
    margin: 0 0 2rem 0;
  }

  .navbar ul li{
    margin: 0rem 0.25rem ;
  }

  .navbar ul li a{
    font-size: 1rem;
    font-weight: 200;
    line-height: 1rem;
    padding: 0 0;
  }

  .navbar #logo{
    height: 5rem;
    width: 5rem;
    padding: 0.2rem 0.2rem;
  }

  section{
    height: 100vh;
    width: 100vw;
  }

  .navbar, .main, .footer{
    width: 100vw;
    flex-wrap: wrap;
  }

  .navbar{
    height: 20vh;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .main{
    height: 60vh;
  }
  .footer{
    height: 20vh;
  }

  #home .footer .symbol_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    padding: 0px 1.25rem;
    background-color: white;
    border-radius: 35px ;
    }
  
  #home .footer .symbol_box img {
    width: 3rem;
    height: 3rem;
    align-self: center;
  }

   
  .main #content:hover::before{
    transform: scale(0);
    color: #75968F;
  }
  #about .navbar, #projects .navbar{
    display: none;
  }
 
  /* -----------about---------- */

  #about{
    width: 100vw;
  }
    
  .main #content a span::after{
    display: none;
  }
  .main #content a span{
    display: none;
  }

  #about .main{
    display: grid;
    height: 100vh;
    gap: rem;
    grid-template-columns: 90%;
    grid-template-rows: 1.4fr 1.4fr 1fr;
    padding: 1rem 1rem;
    justify-content: center;
    align-items: center;
  }

  .main #right{
    width: 50%;
    justify-self: center;
  }

  #about .footer{
    display: none;
  }
  
  #projects{
    display: none;
  }
}

/* ----------------------------------------------------- */
/* -----------Ipad-------------------------------------- */

@media(min-width: 551px) and (max-width:800px) {
  .navbar{
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .footer{
    width: 100vw;
    flex-wrap: wrap;
  }
  
  section{
    height: 100vh;
    width: 100vw;
  }

  #about .footer{
    display: none;
  }

  #about .navbar{
    width: 100%;
  }

  #about .main{
    display: grid;
    width: auto;
    height: 90vh;
    gap: rem;
    grid-template-columns: auto;
    grid-template-rows: 1.4fr 1.4fr 1fr;
    padding: 1rem 1rem;
  }

  .main #right{
    width: 30%;
    justify-self: center;
  }

  .box{
    display: flex;
    position: relative;
    height: 100%;
    width: 75vw;
    justify-content: center;
    align-items: center;
  }

  #about .footer{
    display: none;
  }
  
  #projects{
    display: none;
  }
}