.grid {
  display: grid;
  margin: 1rem;
  height: 50vh;
  gap: 0.5rem;
  grid-template-areas:
  'header header header header'
  'sidebar content content sidebar2'
  'footer footer footer footer'  
}

.item {
  padding: 3rem;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
}

#header {
  grid-area: header;
  background-color: red;
}

#sidebar {
  grid-area: sidebar;
  background-color: royalblue;
}

#content {
  grid-area: content;
  background-color: green;
}

#sidebar2 {
  grid-area: sidebar2;
  background-color: purple;
}

#footer{
  grid-area: footer;
  background-color: #fff000;
}

@media(max-width: 550px) {
  .grid {
    grid-template-areas:
    'header'
    'sidebar'
    'content'
    'sidebar2'
    'footer'  
  }
 }

@media(min-width: 551px) and (max-width:800px) {
  .grid {
    grid-template-areas:
    'header header header header'
    'sidebar content content content'
    'sidebar content content content'
    'sidebar2 sidebar2 sidebar2 sidebar2'
    'footer footer footer footer'  
  }
 }