@font-face {
  font-family: "AmazonEmberRegular";
  src: url(/fonts/Amazon\ Ember\ Regular.ttf);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navbar {
  width: 100vw;
  margin: 0!important;
  background-color: #232f3e;
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;  
}

#topNavBar {
  position: relative;
  top: 0;
  left: 0;
  background-color: #131921;
  display: flex;
  flex-flow: row nowrap;
  height: 3.75rem;
  width: 100%;
  min-width: 1000px;
  font-family: inherit;
  font-size: 0.875rem;
  line-height: 1em;
  zoom: 1;
  z-index: 10;
}

#middleNavbar{
  width: 100%;
  height: 2.438rem;
  display: flex;
  flex-flow: row nowrap;
  background-color: #232f3e;
}

#bottomNavBar {
  width: 100%;
  height: 2.063rem;
  background-color: #fafafa;
  padding: 0 0.563rem 0 0.938rem;
  overflow: hidden;
  white-space: nowrap;
  border-top: 1px solid rgba(0,0,0,.17);
  border-bottom: 1px solid rgba(0,0,0,.1);
}

#topNavBar {
  display: flex;
}

#topNavBar #navLeft {
  display: flex;
  margin: 6px 0 2px 11px;
  width: auto;
  height: 3.05rem;
  /* background-color: red; */
}

#topNavBar #navLeft .logo{
  margin: 1px;
  height: 100%;
  width: 7rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 0px 8px 2px 6px;
  /* background-color: seagreen; */
  border: 1px solid transparent;
}


#topNavBar #navLeft .logo img{
  width: 5.875rem;
  height: 1.775rem;
  margin-top: 0.625rem;
  /* background-color: purple; */
}

#topNavBar #navLeft .logo:hover {
  border: 1px white solid;
  border-radius: 2px;
}

#topNavBar #navLeft .delivery {
  display: flex;
  height: 100%;
  margin: 1px;
  color: white;
  /* background: coral; */
  margin: 2px 2px;
  padding: 12px 8px ;
  font-family: "AmazonEmberRegular";
  border: 1px transparent solid;
  border-radius: 2px;
}

#topNavBar #navLeft .delivery:hover {
  border-color: white;
}

#topNavBar #navLeft .delivery a {
  display: flex;
  text-decoration: none;
  color: white
}

#topNavBar #navLeft .delivery a #navSymbol{
  height: 120%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* background-color: turquoise; */
  margin-right: 4px;
}

#topNavBar #navLeft .delivery a #navCont {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: #cccccc;
}

#topNavBar #navLeft .delivery a #navCont strong {
  color: #FCFCFC;
  font-Weight: 700;
  line-height: 15px;
  font-size: 14px;
}

#topNavBar #navLeft .delivery a img {
  width: 15px;
  height: 16px;
  }

  #topNavBar #navCenter{
    margin: 4px 6px 4px 0;
    padding: 10px 4px 10px 3px;
    display: flex;
  }

  #topNavBar #navCenter #searchDropdownBox {
    height: 40px;
    width: 54px;
    font-family: inherit;
    color: #0f1111;
    outline: 0;
    /* margin: 4px 0 4px 0; */
    padding: 0;
    cursor: pointer;
    border: 0;
    line-height: 35px;
    background-color: rgba(255, 255, 255, 0.938);
  }

  #topNavBar #navCenter #searchDropdownBox:hover{
    background-color: #DADADA;
  }

  #topNavBar #navCenter #searchDropdownBox select {
    border-radius: 4px 0px 0px 4px;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  }

  #topNavBar #navCenter input {
    height: 40px;
    width: 43vw;
    line-height: 35px;
    background-color: rgba(255, 255, 255, 0.938);
    border: 0px;
    border-radius: 0 4px 4px 0px;  
    padding: 20px 20px;  
  }

  #topNavBar #navCenter input:focus {
    outline: none;
  }

 