@font-face {
  font-family: "AmazonEmberRegular";
  src: url(/fonts/Amazon\ Ember\ Regular.ttf);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  font-style: normal;
  font-Weight: 400;
  font-size:24px;
  line-height: 32px;
  Color:#0f1111;
}

#navbar {
  width: 100vw;
  margin: 0!important;
  background-color: #232f3e;
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;  
}

#topNavBar {
  position: relative;
  top: 0;
  left: 0;
  background-color: #131921;
  display: flex;
  flex-flow: row nowrap;
  height: 3.75rem;
  max-width: 100vw;
  min-width: 1000px;
  font-family: inherit;
  font-size: 0.875rem;
  line-height: 1em;
  zoom: 1;
  z-index: 10;
  display: flex;
}



#bottomNavBar {
  width: 100%;
  height: 2.063rem;
  background-color: #fafafa;
  padding: 0 0.563rem 0 0.938rem;
  overflow: hidden;
  white-space: nowrap;
  border-top: 1px solid rgba(0,0,0,.17);
  border-bottom: 1px solid rgba(0,0,0,.1);
}


#topNavBar #navLeft {
  display: flex;
  margin: 6px 0 2px 11px;
  width: auto;
  height: 3.05rem;
}

#topNavBar #navLeft .logo{
  margin: 1px;
  height: 100%;
  width: 7rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 0px 8px 2px 6px;
  border: 1px solid transparent;
}


#topNavBar #navLeft .logo img{
  width: 5.875rem;
  height: 1.775rem;
  margin-top: 0.625rem;
}

#topNavBar #navLeft .logo:hover {
  border: 1px white solid;
  border-radius: 2px;
}

#topNavBar #navLeft .delivery {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100px;
  margin: 1px;
  color: white;
  margin: 2px 6px 2px 2px; 
  padding: 0 9px;
  align-items: center;
  justify-content: center;
  font-family: "AmazonEmberRegular";
  border: 1px transparent solid;
  border-radius: 2px;
}

#topNavBar #navLeft .delivery:hover {
  border-color: white;
}

#topNavBar #navLeft .delivery a {
  display: flex;
  color: white
}

#topNavBar #navLeft .delivery a #navSymbol{
  height: 120%;
  display: flex;
  flex-direction: column;
  margin-right: 4px;
  margin-top: 10px;
}

#topNavBar #navLeft .delivery a #navCont {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: #cccccc;
}

#topNavBar #navLeft .delivery a #navCont strong {
  color: #FCFCFC;
  font-Weight: 700;
  line-height: 15px;
  font-size: 14px;
}

#topNavBar #navLeft .delivery a img {
  width: 15px;
  height: 16px;
  }

  #topNavBar #navCenter{
    margin: 2px 6px 6px 0;
    padding: 10px 4px 10px 3px;
    display: flex;
  }

  #topNavBar #navCenter #searchDropdownBox {
    height: 40px;
    width: 54px;
    font-family: inherit;
    color: #0f1111;
    outline: 0;
    padding: 0;
    cursor: pointer;
    border: 0;
    line-height: 35px;
    background-color: rgba(255, 255, 255, 0.938);
  }

  #topNavBar #navCenter #searchDropdownBox:hover{
    background-color: #DADADA;
  }

  #topNavBar #navCenter #searchDropdownBox select {
    border-radius: 4px 0px 0px 4px;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  }

  #topNavBar #navCenter input {
    height: 40px;
    width: 43vw;
    line-height: 35px;
    background-color: rgba(255, 255, 255, 0.938);
    border: 0px;
    padding: 20px 20px; 
  }

  #topNavBar #navCenter input:focus {
    outline: none;
  }

  #topNavBar #navCenter #searchBox {
    height: 40px;
    width: 44px;
    color: white;
    background-color: #FFBF6C;
    border-radius: 0 4px 4px 0px;  
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #topNavBar #navCenter #searchBox:hover{
    background-color: #F3A847;
    cursor: pointer;
  }

  #topNavBar #navRight {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 2px 6px 6px 0;
    justify-content: space-between;
    padding: 10px 4px 4px 4px;
    display: flex;
    color: white;
    font-family: "AmazonEmberRegular";
  }

  #topNavBar #navRight #language {
    display: flex;
    margin-right: 1px;
    margin-left: 1px;
    padding-top: 10px;
  }

  .navR{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: #cccccc;
  padding: 0 9px;
  border: 1px transparent solid;
  border-radius: 2px;    
  }

  .navR strong {
  color: #FCFCFC;
  font-Weight: 700;
  line-height: 15px;
  font-size: 14px;
  }

.navR:hover {
  border-color: white;
  cursor: pointer;
}

/* ------------------MiddleBar------------------- */

#middleNavbar{
  display: flex;
  padding: 0 11px;
  width: 100%;
  height: 2.438rem;
  display: flex;
  flex-flow: row nowrap;
  background-color: #232f3e;
  color: #F0F1F2;
  font-family: "AmazonEmberRegular";
  font-size: 14px;
  line-height: 12px;
  font-weight: 400;
}

#middleNavbar #navLeft {
  font-weight: 700;
}

#middleNavbar #navLeft img {
  margin-right: 4px;
}
 
#middleNavbar .middleBox {
  margin: 5px 0px 6px;
  padding: 8px 9px;
  border: 1px transparent solid;
  border-radius: 2px;
  display: flex;
  align-items: center;
  color: white;
}

#middleNavbar .middleBox:hover {
  border-color: white;
  cursor: pointer;
}

#middleNavbar #navCenter {
  display: flex;
  flex: 1 1 auto;
}

#middleNavbar #navRight {
  align-self: center;
  font-weight: 700;
  line-height: 15px;
}

#bottomNavBar{
  display: flex;
}

#bottomNavBar .middleBox{
  position: relative;
  float: left;
  border: 2px transparent solid;
  border-radius: 2px;
  display: flex;
  align-items: center;
  font-family: "AmazonEmberRegular";
  font-size: 12px;
  line-height: 33px;
  color: #8d8d8d;
  height: 31px;
  padding: 0 11px;
}

#bottomNavBar .middleBox:hover{
  color: #e47911;
  border-bottom: 2px solid #f90;
  font-weight: 700;
}

#break{
  padding: 0 16px!important;
  margin-top: 8px!important;
  font-family: "AmazonEmberRegular";
  font-size: 12px;
  color: #8d8d8d;
}



/* ------------Main------------------ */

main {
  display: flex;
  padding: 14px 18px 18px;
  font-family: "AmazonEmberRegular",Arial,sans-serif;
  width: auto;
  /* background-color: antiquewhite; */
}

.picLeft {
  display: flex;
  flex-direction: column;
  width: 44.8%;
  height: 420px;
  /* background-color: lightpink; */
  position: sticky;
  top: 5px;
}


.imageGal {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  
}

.galimg {
  width: 42px;
  height: 42px;
  border: 1px #8d8d8d solid;
  margin-bottom: 8px;
  padding: 1px 1px;
}

.galimg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.galimg:hover {
  cursor: pointer;
  border-color: #e47911;
  box-shadow: 0px 0px 4px 2px #f90;
}

.imgBig {
  display: none;
  position: absolute;
  left: 60px;
  top: 10px;
  white-space: nowrap;
  max-width: 90%;
  height: 95%;
}

#image1 {
  display: block;
}

.imgBig img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#img2:hover ~ #image1, #img3:hover ~ #image1, #img4:hover ~ #image1, #img5:hover ~ #image1, #img6:hover ~ #image1 {
  display: none;
}
 
#img2:hover ~ #image2 {
  display: block;
}
#img3:hover ~ #image3 {
  display: block;
}
#img4:hover ~ #image4 {
  display: block;
}
#img5:hover ~ #image5 {
  display: block;
}
#img6:hover ~ #image6 {
  display: block;
}

#rollOver {
  align-self: center;
  font-size: 14px;
  Line-Height:20px;
  margin-top: 100px;
  Color: #565959;
}

.contRight {
  width: 55.2%;
  padding-left: 14px;
  padding-top: 1px;
  /* background-color: lightslategray;  */
  display: grid;
  grid-template-columns: 60% 38%;
  grid-template-rows: repeat(42, 20px);
  gap: 8px;
}

.contRight #headline {
  grid-column:1;
  grid-row: 1/6;
  background-color: lightsalmon;
}

.contRight #aviable {
  grid-column: 1;
  grid-row: 6/15;
  background-color: lightyellow;
}
.contRight #aboutT {
  grid-column: 1;
  grid-row: 15/24;
  background-color: lightsalmon;
}
.contRight #similarI {
  grid-column: 1;
  grid-row: 24/33;
  background-color: lightyellow;
}
.contRight #thisP {
  grid-column: 1;
  grid-row: 33/42;
  background-color: lightsalmon;
}

.contRight #box1 {
  grid-column: 2;
  grid-row: 1/10;
  background-color:moccasin;
}

.contRight #box2 {
  grid-column: 2;
  grid-row: 13;
  background-color: navajowhite;
}

.contRight #box3 {
  grid-column: 2;
  grid-row: 14/19;
  background-color:moccasin;
}

.contRight #box4 {
  grid-column: 2;
  grid-row: 19/22;
  background-color: navajowhite;
}
