body {
  background-color: #415069;
  color: aliceblue;
}


.container1 {
  height: 200px;
  position: relative;
  text-align: center;
}

.button {
  border-style: solid;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 6px;
  cursor: pointer;
}


.small {font-size: 10px;}
.medium {font-size: 16px;}
.large {font-size: 24px;}

.round{border-radius: 30%;}

.ghost-red{
  background-color: transparent;
  border: 3px solid red;
}

.ghost-red:hover{
  background-color: red;
}

.ghost-blue{
  background-color: transparent;
  border: 3px solid skyblue;
}

.ghost-blue:hover{
  background-color: blue;
}

.ghost-green{
  background-color: transparent;
  border: 3px solid green;
}

.ghost-green:hover{
  background-color: green;
}
.ghost-orange{
  background-color: transparent;
  border: 3px solid orange;
}

.ghost-orange:hover{
  background-color: orange;
}

.ghost-yellow{
  background-color: transparent;
  border: 3px solid yellow;
}

.ghost-yellow:hover {
  background-color: yellow;
}

.ghost-gray{
  background-color: transparent;
  border: 3px solid gray;
}

.ghost-gray:hover{
  background-color: gray;
}

.green {
  background-color:lightgreen;
  border-color: lightgreen;  
}

.green:hover{
  background-color: greenyellow;
}
.red {
  background-color: red;
  border-color: red;
}

.red:hover {
  background-color: darkred;
}

.blue {
  background-color: skyblue;
  border-color: skyblue;
}

.blue:hover {
  background-color: darkblue;
}
.orange {
  background-color: orange;
  border-color: orange;
}

.orange:hover {
  background-color: darkorange;
}

.yellow {
  background-color: yellow;
  border-color: yellow;
}

.yellow:hover {
  background-color: #D3CD1E;
}
.gray {
  background-color: gray;
  border-color: gray;
}

.gray:hover{
  background-color: slategray;
}