@font-face {
  font-family: 'Gotham Medium';
  src: url('/font/Gotham\ Medium\ Regular.ttf');
}


@font-face {
  font-family: 'Gotham Light';
  src: url('/font/GothamLightRegular.otf');
}


@font-face {
  font-family: 'Gotham Book';
  src: url('/font/Gotham\ Book\ Regular.otf');
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: "Gotham Medium" - 400;
  font-family: "Gotham Medium", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: black;  
}



#top {
  background: url(/img/performance.jpg)no-repeat center center/cover;
  width: 100vw;
  height: 60vh;
  z-index: 50;
}


/* the navbar container diffulte */
#top #navbar {
  color: #fff;
  overflow: auto;
  /* border: 1px solid pink; */
  margin-left: 16px;
  margin-right: 40px;
}


/* tasla logo */
#top #navbar h1 {
  float: left;
  /* border: 1px solid blue; */
  cursor: pointer;
  text-align: initial;
  letter-spacing: -.6px;
  font-size: var(--tds-font-size--80,40px);
  line-height: var(--tds-line-height--80,48px);
  margin-right: 200px;
}


#empty{
  background-color: transparent;
  height: 25vh;
  width: 100%;
}

.container {
  margin: auto;
  height: auto;
  width: 80vw;
  /* border: yellow solid 2px; */
  right: 25px;
}

.box {
  width: 33%;
  height:25%;
  margin: 0;
  display:inline-block;
  /* border:solid 2px lightgreen; */
  top: 50px;
  padding:12px 24px;
}

.box img {
  display: inline-block;
  color: white;
}

.box h1 {
  font: "Gotham Medium" - 500;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  color: white;
  margin-bottom: 8px;
}

.box h3 {
  font-family: 'Gotham Book';
  font: "Gotham Book" - 400;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: white;
}

#box-1, #box-2 {
  border-right: white solid 1px;
}

.clr {
  clear: both;
}


#bottom {
  width: 100vw;
  height: 40vh;
}

.container2 {
  margin: auto;
  height: 100%;
  width: 80vw;
  /* border: red solid 2px; */
  right: 25 px;
  padding-top: 46px;
}


.container2 #left-box{
  float: left;
  /* border: teal solid 1px; */
  padding-top: 4px;
  padding-left: 24px;
  width: 33%;
  padding-right: 0px;
}


.container2 #left-box h3 {
  font-family: 'Gotham Light';
  font: "Gotham Light" - 500;
  font-weight: 500;
  font-size: 17px;
  line-height: 17px;
  color: #171a20;
}

.container2 #left-box h1 {
  font-family: 'Gotham Medium';
  font: "Gotham Medium" - 500;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  color: #171a20;
}

.container2 #left-box ul {
  list-style: none;
  margin-top: 26px;
  margin-left: -2px;
}

.container2 #left-box ul li{
  float: left;
}


.container2 #left-box ul #button1{
  margin-right: 16px;  
}


.container2 #right-box{
  /* border: purple 1px solid; */
  padding-top: 4px;
  float: right;
  width: 67%;
  padding-left: 26px;
  padding-right: 40px;
}

.container2 #right-box p {
  font-family: 'Gotham Book';
  font: "Gotham Book" - 400;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  word-spacing: 3.5px;
  color: #393c41;  
}


.sticky {
  position: sticky;
  position: absolute;
  top: 105px;
  left: 12px;
  height: 250px; 
  z-index: 100;
}

.sticky h1 a span {
  font-family: 'Gotham Medium';
  font: "Gotham Medium" - 400;
  font-weight: 400;
  font-size: 10px;
  line-height: 21px;
  color: transparent; 
}


.sticky h1 a span:hover{
  color: white;
}

.sticky h1 a {
  font-family: 'Gotham Medium';
  font: "Gotham Medium" - 400;
  font-weight: 600;
  font-size: 20px;
  line-height: 21px;
  color: #CFCECE; 
  /* font-style: bold; */
}

.sticky #PERFORMANCE a{
  color: white;
}