body {
  margin: auto;
  width: 50%;
  padding: 10px;
}

#box-1{
  width: 200px;
  height: 200px;
  border: black solid;
  background-color: white;
  z-index: 1;
  position: absolute;
}

#box-2{
  width: 180px;
  height: 300px;
  border: black solid;
  background-color: white;
  z-index: 2;
  position: absolute;
  bottom: 300px;
  left: 540px;
  }

#box-3{
  width: 600px;
  height: 150px;
  border: black solid;
  background-color: white;
  z-index: 3;
  position: absolute;
  bottom: 300px;
}

#box-4{
  width: 100px;
  height: 500px;
  border: black solid;
  background-color: white;
  z-index: 4;
  position: absolute;
  bottom: 250px;
  left: 850px;
}

