@font-face {
  font-family: 'Gotham Medium';
  src: url('/font/Gotham\ Medium\ Regular.ttf');
}


@font-face {
  font-family: 'Gotham Light';
  src: url('/font/GothamLightRegular.otf');
}


@font-face {
  font-family: 'Gotham Book';
  src: url('/font/Gotham\ Book\ Regular.otf');
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: "Gotham Medium" - 400;
  font-family: "Gotham Medium", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: black;  
}


#left {
  position: relative;
  height: 100vh;
  width: 27vw;
  /* border: solid 2px green; */
  float: left;
}


/* the navbar container diffulte */
#left #navbar {
  color: #fff;
  overflow: auto;
  /* border: 1px solid pink; */
  margin-left: 16px;
  margin-right: 40px;
}


/* tasla logo */
#left #navbar h1 {
  float: left;
  /* border: 1px solid blue; */
  cursor: pointer;
  text-align: initial;
  letter-spacing: -.6px;
  font-size: var(--tds-font-size--80,40px);
  line-height: var(--tds-line-height--80,48px);
  margin-right: 200px;
}


.box {
  width: auto;
  height:auto;
  left: 50px;
}

#box-1 {
  position: absolute;
  /* background-color: lightblue; */
  margin-top: 8px;
  margin-bottom: 64px;
}


#box-1 h3 {
  font-size: 17px;
  line-height: 17px;
  color: #171a20;
  font-family: "Gotham Light";
  font-weight: 500;
}


#box-1 h1 {
  font-size: 28px;
  line-height: 36px;
  color: #171a20;
  font-family: "Gotham Medium";
  font-weight: 500;
}

#box-2 {
  position: absolute;
  /* background-color: lightcoral; */
  top: 190px;
}

#box-2 p {
  font-size: 14px;
  line-height: 21px;
  color: #393c41;
  font-family: "Gotham Book";
  font-weight: 400;
}

#box-3 {
  position: absolute;
  /* background-color: lightgreen; */
  bottom: 67px;
}

#box-3 ul {
  list-style: none;
}

#box-3 ul li{
  float: left;
}


#box-3 ul #button1{
  margin-right: 16px;  
}


/* #box-4 {
  position: absolute;
  background-color: lightslategrey;
} */

#right {
  height: 100vh;
  width: 69vw;
  /* border: solid 2px red; */
  float: right;
  background: url(/img/2.0.jpg)no-repeat center center/cover;
}


.sticky {
  position: sticky;
  position: absolute;
  top: 105px;
  left: 12px;
  height: 250px;
  z-index: 100;
}

.sticky h1 a span {
  font-family: 'Gotham Medium';
  font: "Gotham Medium" - 400;
  font-weight: 400;
  font-size: 10px;
  line-height: 21px;
  color: transparent; 
}


.sticky h1 a span:hover{
  color: black;
}

.sticky h1 a {
  font-family: 'Gotham Medium';
  font: "Gotham Medium" - 400;
  font-weight: 600;
  font-size: 20px;
  line-height: 21px;
  color: #93969A; 
  font-style: bold;
}

.sticky #SAFTY a{
  color: black;
}