@font-face {
  font-family: 'Gotham Medium';
  src: url('/font/Gotham\ Medium\ Regular.ttf');
}

@font-face {
  font-family: 'Gotham Book';
  src: url('/font/Gotham\ Book\ Regular.otf');
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: "Gotham Medium" - 400;
  font-family: "Gotham Medium", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: white;  
}


#page-background {
  height: 100vh;
  background: url(/img/index-backgroundV2.jfif)no-repeat center center/cover;
}


a {
  color: #2F3232;
  text-decoration: none;
}


header {
  width: 100 vw;
  align-content: center;
  max-width: none;
  /* border: 1px solid darkorange; */
}


/* the navbar container diffulte */
#navbar {
  color: #fff;
  overflow: auto;
  /* border: 1px solid pink; */
  margin-left: 16px;
  margin-right: 40px;
}


/* tasla logo */
#navbar h1 {
  float: left;
  /* border: 1px solid blue; */
  cursor: pointer;
  text-align: initial;
  letter-spacing: -.6px;
  font-size: var(--tds-font-size--80,40px);
  line-height: var(--tds-line-height--80,48px);
  margin-right: 200px;
}


/* the list settings */
#navbar #ul1 {
  align-content: center;
  align-items: center;
  list-style: none;
  padding-top: 16px;
  margin-right: 10px;
  float: left; 
  /* border: 1px solid green; */
 }


 /* padding and text alighn for each element in the lists*/
#navbar #ul1 li a {
  display: block;
  text-align: center;
  /* border: 2px solid red; */
  margin: 0px 10px;
}


#navbar #ul2 {
  align-content: center;
  align-items: center;
  list-style: none;
  /* border: 1px solid grey; */
  padding-top: 16px;
  float: right;
}


#navbar #ul2 li a {
  display: block;
  text-align: center;
  /* border: 2px solid darkred; */
  margin: 0px 10px;
}


#navButton {
  height: 30px;
  width: 30px;
  /* border: 2px solid seagreen; */
  position: absolute;
  right: 0;
  margin-top: 8px;
}

#logo {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  display: inline;
  float: left;
}


/* all links */
#navbar a {
  color: #fff;
}


/* The lists elements from left to right */
#navbar ul li {
  float: left;
}


#navbar ul li a:hover, 
#navbar ul li a.current {
  color: white;
}


.headlineFrame {
  padding: 8px;
  margin-top: 30px;
  /* border: solid 2px green; */
  float: center;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
}


#empty{
  background-color: transparent;
  height: 55vh;
  width: 100%;
}

.container {
  margin: auto;
  height: auto;
  width: 50vw;
  /* border: yellow solid 2px; */
  right: 25px;
}

.box {
  width: 24%;
  height:25%;
  margin: auto;
  display:inline-block;
  /* border:solid 1px lightgreen; */
  top: 50px;
  text-align: center;
}

.box img {
  display: inline-block;
  color: white;
}

.box h1 {
  font: "Gotham Medium" - 500;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  color: white;
  margin-bottom: 8px;
}

.box h3 {
  font-family: 'Gotham Book';
  font: "Gotham Book" - 400;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: white;
}

#box-1, #box-2 {
  border-right: white solid 1px;
}

.box #orderNow{
  border: solid white 3px;
  background-color: transparent;
  color: white;
  padding: 4px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  border-radius: 30%;
  margin-top: -5px; 
  }


.container #orderNow a{
  font-size: 12px;
  font-weight: 400;
  color: white;
}


.container #orderNow:hover{
  background-color: white;
}


.container #orderNow a:hover {
  /* background-color: white; */
  color: grey
}


.sticky {
  position: sticky;
  position: absolute;
  z-index: 100;
  top: 105px;
  left: 12px;
  height: 250px; 
}

.sticky h1 a span {
  font-family: 'Gotham Medium';
  font: "Gotham Medium" - 400;
  font-weight: 400;
  font-size: 10px;
  line-height: 21px;
  color: transparent; 
}


.sticky h1 a span:hover{
  color: white;
}

.sticky h1 a {
  font-family: 'Gotham Medium';
  font: "Gotham Medium" - 400;
  font-weight: 600;
  font-size: 20px;
  line-height: 21px;
  color: #93969A; 
  font-style: bold;
}

.sticky #MODEL3 a{
  color: white;
}


/* RIGHT CORNER BUTTON */
input[type=checkbox] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}

.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 20px;
  right: 15px;
  height: 10px;
  width: 23px;
}
.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
}
.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 2px;
}
.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}
.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 2px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}
/* fINISH RIGHTCORNER BUTTON */

